/*
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

/* Others */

body {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    margin: -64px 100px 0px 100px;
}

.illustration {
    display: flex;
    margin-left: 150px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0px 150px 0px 80px;
    padding: 20px;
}

nav a.logo {
    order: 2;
}

nav ul {
    order: 1;
    list-style-type: none;
    padding: 0;
}

nav a {
    color: #343a40;
    text-decoration: none;
    margin-right: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    color: hsl(230, 29%, 20%);
    font-weight: 700;
}

nav .log-btn {
    margin-left: 15px;
    color: hsl(231, 7%, 65%);
}

nav ul li {
    display: inline;
    margin: 15px;
}

/* Hero Div */

.hero {
    display: flex;
    align-items: center;
}

.hero p:nth-child(1) {
    background: hsl(230, 29%, 20%);
    padding: 3px 10px 3px 10px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    border-radius: 30px;
}

.hero p:nth-child(2) {
    margin-left: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 7px;
    color: hsl(231, 7%, 65%);
}

/* Title - Part */

.text p:nth-child(1) {
    margin-top: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    color: hsl(230, 29%, 20%);
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 40px;
}

.text p:nth-child(2) {
    color: hsl(230, 11%, 40%);
    font-size: 32px;
    margin-bottom: 75px;
}

/* CTA - Call To Action */

.cta {
    display: flex;
    align-items: center;
}

.cta a {
    font-family: 'Barlow Condensed', sans-serif;
    background: hsl(0, 100%, 68%);
    color: white;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
}

.cta a:hover {
    opacity: 0.7;
}

.cta p {
    margin-left: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    color: hsl(231, 7%, 65%);
}